* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
}
header {
    background: linear-gradient(30deg, red, rgb(0, 0, 0));
    color: white;
    position: fixed;
    z-index: 2;
    width: 200px;
    height: 100%;
    padding: 10px 20px;
}

header h1{
    font-size: 50px;
}
header p{
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
}
header nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    list-style-type: none;
}
header nav ul li:nth-child(5){
    background-color: #f2f2f281;
    height: 10px;
    border-left: 5px solid white;
    width: 100%;
    border-radius: 6px;
}
header nav ul li {
    width: 100%;
    padding: 10px 0px 16px 20px;
}
header i{
    padding-right: 10px;
    font-size: 20px;
}
header nav a {
    color: white;
    text-decoration: none;
}

/* ---------search-bar----------- */


.search{
    text-align: center;
    position: relative;
    padding: 40px;
}
.search .sec-inp .inp-bg img{
    position: absolute;
    top: 45px;
    right: 20%;
    width: 80px;
}
.search .sec-inp .inp-bg input{
    margin-left: 10%;
    width: 800px;
    height: 40px;
    padding: 5px;
    padding-left: 80px;
    font-size: 22px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 2px 5px 2px lightgray;
    outline: none;
}
.search .sec-inp .inp-bg i{
    font-size: 20px;
    width: 0%;
    position: absolute;
    left: 25%;
    top: 55px;
    align-items: center;
    color: red;
    padding-left: 50px;
}

/* ----------status------------ */
.account{
    background-color: #f2f2f2;
    padding-left: 350px;
    padding-right: 20px;
}
.account h4{
    text-align: start;
    color: red;
}
.ac-in h4{
    padding-top: 25px;
    display: grid;
    width: 80%;
    font-size: 30px;
    color: red;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 220px;
    align-items: center;
    column-gap: 0px;
}
.ac-in{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.ac-in h4::before, .ac-in h4::after{
    content: "";
    height: 1px;
    background-color: #000;
    display: inline;
}
.statement{
    display: flex;
    column-gap: 60px;
}
.ac-st{
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    border-left: 5px solid red;
    width: 400px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    height: 120px;
    padding-left: 20px;
    margin-top: 50px;
}
.ac-st .icon img{
    background: linear-gradient(30deg, red, rgb(0, 0, 0));
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.ac-st .icon i{
    padding: 12px;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-radius: 50%;
}
.state{
    padding-left: 20px;
}
.state h3, .state p{
    color: red;
}
.state h3{
    padding-top: 20px;
    font-size: 30px;
}
.state p1{
    font-weight: 600;
    font-size: 15px;
}
.state p{
    padding-top: 20px;
}
.sub-st{
    position: absolute;
    right: 6%;
    text-align: end;
    padding-top: 70px;
}
.sub-st p1{
    text-align: end;
    color: springgreen;
}
.sub-st p{
    font-size: 15px;
    color: lightgray;
}

/* .search{
    text-align: center;
    padding-bottom: 50px;
}
.sec-inp{
    background-color: #f2f2f2;
    width: 100%;
}
.inp-bg{
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inp-bg i{
    font-size: 25px;
    color: red;
    position: absolute;
    left: 34%;
}
.inp-bg img{
    position: absolute;
    right: 29%;
}
.inp-bg input::placeholder{
    padding-left: 50px;
    font-size: 25px;
}
.inp-bg input{
    border-radius: 20px;
    box-shadow: 1px 0.5px 5px 0.5px;
    padding: 10px;
    height: 40px;
    width: 600px;
    border: none;
    outline: none;
}
.sec-inp img{
    width: 70px;
}    */


@media only screen and (max-width: 1300px){
    /* ---------search-bar----------- */

    .search{
        text-align: center;
        position: relative;
        padding: 40px;
        padding-left: 0%;
    }
    .search .sec-inp .inp-bg img{
        position: absolute;
        top: 45px;
        right: 20%;
        width: 80px;
    }
    .search .sec-inp .inp-bg input{
        margin-left: 10%;
        width: 600px;
        height: 40px;
        padding: 5px;
        padding-left: 200px;
        font-size: 22px;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 2px 5px 2px lightgray;
        outline: none;
    }
    .search .sec-inp .inp-bg i{
        font-size: 20px;
        width: 0%;
        position: absolute;
        left: 24%;
        top: 55px;
        align-items: center;
        color: red;
        padding-left: 50px;
    }
    .search{
        text-align: center;
        position: relative;
        padding: 40px;
    }
    .account{
        background-color: #f2f2f2;
        padding-left: 40%;
        padding-right: 20px;
    }
    .ac-in{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .statement{
        display: block;
        width: 100%;
        column-gap: 60px;
    }
}   

@media only screen and (max-width: 900px){
    /* ---------search-bar----------- */

    .search{
        text-align: center;
        position: relative;
        padding: 40px;
        padding-left: 30%;
    }
    .search .sec-inp .inp-bg img{
        position: absolute;
        top: 45px;
        right: 5%;
        width: 80px;
    }
    .search .sec-inp .inp-bg input{
        width: 300px;
        height: 40px;
        padding: 5px;
        padding-left: 200px;
        font-size: 22px;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 2px 5px 2px lightgray;
        outline: none;
    }
    .search .sec-inp .inp-bg i{
        font-size: 20px;
        width: 0%;
        position: absolute;
        left: 35%;
        top: 55px;
        align-items: center;
        color: red;
        padding-left: 50px;
    }

    .statement{
        display: block;
        width: 100%;
        column-gap: 60px;
    }
} 
@media only screen and (max-width: 700px){
    /* ---------search-bar----------- */

    .search{
        text-align: center;
        position: relative;
        padding: 40px;
        padding-left: 35%;
    }
    .search .sec-inp .inp-bg img{
        position: absolute;
        top: 45px;
        right: -10%;
        width: 80px;
    }
    .search .sec-inp .inp-bg input{
        width: 300px;
        height: 40px;
        padding: 5px;
        padding-left: 200px;
        font-size: 22px;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 2px 5px 2px lightgray;
        outline: none;
    }
    .search .sec-inp .inp-bg i{
        font-size: 20px;
        width: 0%;
        position: absolute;
        left: 35%;
        top: 55px;
        align-items: center;
        color: red;
        padding-left: 50px;
    }
    /* ----------status------------ */
    .account{
        background-color: #f2f2f2;
        padding-left: 350px;
        padding-right: 20px;
    }
    .account h4{
        text-align: start;
        color: red;
    }
    .ac-in{
        width: 100%;
        padding-left: 34%;
    }
    .ac-in h4{
        padding-top: 25px;
        display: grid;
        font-size: 12px;
        color: red;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding-left: 0;
        column-gap: 0px;
    }
    .ac-in{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .ac-in h4::before, .ac-in h4::after{
        content: "";
        height: 1px;
        width: 100%;
        background-color: #000;
        display: inline;
    }
    .statement{
        display: block;
        width: 100%;
        column-gap: 60px;
    }
    .ac-st{
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        border-left: 5px solid red;
        width: 400px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        height: 120px;
        padding-left: 20px;
        margin-top: 50px;
    }
    .ac-st .icon img{
        background: linear-gradient(30deg, red, rgb(0, 0, 0));
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .ac-st .icon i{
        padding: 12px;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 25px;
        border-radius: 50%;
    }
    .state{
        padding-left: 20px;
    }
    .state h3, .state p{
        color: red;
    }
    .state h3{
        padding-top: 20px;
        font-size: 30px;
    }
    .state p1{
        font-weight: 600;
        font-size: 15px;
    }
    .state p{
        padding-top: 20px;
    }
    .sub-st{
        position: absolute;
        right: 6%;
        text-align: end;
        padding-top: 70px;
    }
    .sub-st p1{
        text-align: end;
        color: springgreen;
    }
    .sub-st p{
        font-size: 15px;
        color: lightgray;
    }
} 

@media only screen and (max-width: 550px){
    /* ---------search-bar----------- */

    .search{
        text-align: center;
        position: relative;
        padding: 40px;
        padding-left: 50%;
    }
    .search .sec-inp .inp-bg img{
        position: absolute;
        top: 45px;
        right: -40%;
        width: 80px;
    }
    .search .sec-inp .inp-bg input{
        width: 300px;
        height: 40px;
        padding: 5px;
        padding-left: 200px;
        font-size: 22px;
        border: none;
        border-radius: 20px;
        box-shadow: 1px 2px 5px 2px lightgray;
        outline: none;
    }
    .search .sec-inp .inp-bg i{
        font-size: 20px;
        width: 0%;
        position: absolute;
        left: 50%;
        top: 55px;
        align-items: center;
        color: red;
        padding-left: 50px;
    }
    /* ----------status------------ */
    .account{
        background-color: #f2f2f2;
        padding-left: 300px;
        padding-right: 20px;
    }
    .account h4{
        text-align: start;
        color: red;
    }
    .ac-in{
        width: 100%;
        padding-left: 45%;
    }
    .ac-in h4{
        padding-top: 25px;
        display: grid;
        font-size: 12px;
        color: red;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        padding-left: 0;
        column-gap: 0px;
    }
    .ac-in{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .ac-in h4::before, .ac-in h4::after{
        content: "";
        height: 1px;
        width: 100%;
        background-color: #000;
        display: inline;
    }
    .statement{
        display: block;
        width: 100%;
        column-gap: 60px;
    }
    .ac-st{
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        border-left: 5px solid red;
        width: 400px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        height: 120px;
        padding-left: 20px;
        margin-top: 50px;
    }
    .ac-st .icon img{
        background: linear-gradient(30deg, red, rgb(0, 0, 0));
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .ac-st .icon i{
        padding: 12px;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 25px;
        border-radius: 50%;
    }
    .state{
        padding-left: 20px;
    }
    .state h3, .state p{
        color: red;
    }
    .state h3{
        padding-top: 20px;
        font-size: 30px;
    }
    .state p1{
        font-weight: 600;
        font-size: 15px;
    }
    .state p{
        padding-top: 20px;
    }
    .sub-st{
        position: absolute;
        right: 6%;
        text-align: end;
        padding-top: 70px;
    }
    .sub-st p1{
        text-align: end;
        color: springgreen;
    }
    .sub-st p{
        font-size: 15px;
        color: lightgray;
    }
}