{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/861ce09321.js" crossorigin="anonymous"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>State Ranking</title>
    <link rel="stylesheet" href="{% static "css/profile-info.css" %}">
</head>
<body>
    <!-- <header>
        <h1><img src="../static/asset/icon.png" alt=""></h1>
        <p>Super Admin</p>
        <nav>
            <ul>
                <li></li>
                <li><a href="#"><i class='bx bx-home-alt'></i> Dashboard</a></li>
                <li><a href="#"><i class="fa-solid fa-chart-simple"></i> Analytics</a></li>
                <li><a href="#"><i class="fa-solid fa-file-arrow-down"></i>  App Download Status</a></li>
                <li><a href="#"><i class='bx bxs-graduation' ></i> Mentorship</a></li>
                <li><a href="#"><i class="fa-solid fa-desktop"></i> Internship</a></li>
                <li><a href="#"><i class="fa-solid fa-laptop-code"></i> Fresher</a></li>
                <li><a href="#"><i class='bx bx-briefcase' ></i> Experience</a></li>
                <li><a href="#"><i class="fa-solid fa-folder-tree"></i> Corporate Training</a></li>
                <li><a href="#"><i class="fa-regular fa-file"></i> Courses</a></li>
                <li><a href="#"><i class='bx bxs-report'></i> Project Report</a></li>
                <li><a href="#"><i class="fa-regular fa-user"></i> Admin Settings</a></li>
                <li><a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </header> -->

    <!-- --------------info-------------- -->
    <div class="information">
        <div class="info">
            <div class="infoo">
                <div id="dis">
                    <h4>Personal Information</h4>
                    <p>Update Report</p>
                </div>
                <div class="per-info">
                    <div class="info-1">
                        <img src="../static/asset/profile-1.png" alt="">
                    </div>
                    <div class="info-2">
                        <p>Verified</p>
                        <p>Non-Verified</p>
                    </div>
                </div>
            </div><br><br><br>

            <!-- ----------info-2---------------- -->

            <div class="info-3">
                <div class="infoo-1">
                    <div class="per-info">
                        <div class="per-info-1">
                            <p>First Name</p><br>
                            <input type="text" value="Leo"><br><br><br>
                            <div class="last-name">
                                <p>Last Name</p><br>
                                <input type="text" value="Leo"><br><br><br>
                            </div>
                            <p>College Id/Employment Id</p><br>
                            <input type="text" class="inp-2" value="018it***"><br><br><br>
                            <p>Skills</p><br>
                            <input type="text"><br><br><br>
                            <p>Rate your communication</p><br>
                            <input type="text">
                            <br><br><br>
                            <p>About Your Self</p><br>
                            <input type="text" class="inp-3"><br><br><br>
                            <p>Schedule Time and Date</p><br>
                            <input type="text" class="inp-2">
                        </div>
                        <div class="per-info-2">
                            <br>
                            <p>Last Name :</p><br>
                            <input type="text" value="Das"><br><br><br>
                        </div>
                    </div>
                </div>
            </div><br><br><br>
        </div>
    </div>

</body>
</html>